---
layout: default
---



  {% for post in paginator.posts %}
  

    

      {% if post.feature_image and post.feature_image != "" %}


    <div class="row">
       <div style =" margin-left : 10%; margin-right: 10%;" >
<p><big>L’une des missions centrales de l’association Diae par la recherche et la prévention sur le cancer est la promotion de la prise en charge du cancer tout en répondant aux besoins spécifiques de la région Tanger, Tanger-Tétouan-Al Hoceïma.</big></p> 

<p><big>Dans ce sens, nous organisons un master class international en présence d’imminents experts, pour optimiser le traitement des sarcomes et répondre aux exigences internationales dans la prise en charge de cette pathologie rare.</big> </p>
          <button  type="button" onclick="window.location.href='/associationdiae/test';"  class="btn btn-danger" style="width:200px ; margin-legt: 50%; background-color: rgba(204, 0, 204, 0.75);"><h3>INSCRIPTION</h3></button>
</div>
     
  <div class="column">
    <img src="/associationdiae/images/1.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column ">
    <img src="/associationdiae/images/2.jpg" alt="Forest" style="width:100%">
 
     </div>
  </div>

      
     
      {% endif %}
   
    <<!-- .post -->
  {% endfor %}

 

 <!-- <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-7c3ce274-8026-4ab5-8ca2-58ebc8a1ec51"></div>-->

<!-- .site-main -->
