
<header class="site-header" >


  <div style = "position:relative; left:-235px; top:-2px;"><img src="/associationdiae/images/favicon.png" alt=""  width="200" height="121" ></div>
 
    
    <div class="site-navigation-wrap" style= "background-color: rgba(204, 0, 204, 0.75); width: 100%" >
      <h2 class="screen-reader-text">Main navigation</h2>
      <ul class="menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'nav-current' %}
        {% endif %}
        <li class="menu-item {{ current }} one_one">
          <a class="{{ current }}" style="font-size:23px; color:black;" href="{{ item.url }}">{{ item.text }}</a>
          {% if item.text == "Qui somme-nous" %}
           <ul class="the_one">
              <li class="{{ current }}" ><a class="{{ current }}"  style="font-size:22px; color:black;" href="{{ item.submenuoneurl }}">{{ item.submenuone }}</a></li>
              <li class="{{ current }}" ><a class="{{ current }}" style="font-size:22px;color:black;" href="{{ item.submenutwourl }}">{{ item.submenutwo }}</a></li>
              <li class="{{ current }}" ><a class="{{ current }}" style="font-size:22px;color:black;" href="{{ item.submenuthreurl }}">{{ item.submenuthre }}</a></li>
          </ul>
          {% endif %}
        </li>

        {% endfor %}
      </ul><!-- .menu -->
      <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span
          class="icon-close" aria-hidden="true"></span></button>
    </div><!-- .site-navigation-wrap -->
 <!-- .site-navigation -->
  <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
</header>

