---
layout: default
---

<main class="main-content fadeInDown delay_075s">

  <article class="post">
    
    <div class="post-content">
      {{content}}
    </div><!-- .post-content -->
    <div class="post-share">
         
    <form class="well form-horizontal " action="https://api.staticforms.xyz/submit"  method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Veuillez vous inscrire pour accéder aux événements</b></h2></center></legend><br>

<!-- Text input-->
<input type="hidden" name="accessKey" value="32c2107b-3bac-4439-b72c-462d78a083de">

<div class="form-group">
  <label class="col-md-4 control-label">Nom</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="$first_name" placeholder="nom" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Prénom</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="$last_name" placeholder="prénom" class="form-control"  type="text">
    </div>
  </div>
</div>

  <div class="form-group"> 
  <label class="col-md-4 control-label">Fonction</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="$department" class="form-control selectpicker">
      <option value="">Selectionner votre fonction</option>
      <option>Médcin résident</option>
      <option>Médcin spécialiste</option>
      <option >Professeur</option>
   
    </select>
  </div>
</div>
</div>
  <div class="form-group"> 
  <label class="col-md-4 control-label">Structure</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="$department" class="form-control selectpicker">
      <option value="">Selectionner votre structure</option>
      <option>Cabinet Privé</option>
      <option>Hopital public</option>
      <option >CHU</option>
    
    </select>
  </div>
</div>
</div>

  




<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Téléphone</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="$contact_no" placeholder="" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">ville</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="$user_name" placeholder="ville" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Select Basic -->

<input type="hidden" name="redirectTo" value="http://127.0.0.1:4000/">

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4"><br>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning" >&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT <span class="glyphicon glyphicon-send"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->
      <span>Share:</span>
      <a target="_blank"
        href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | absolute_url }}" rel="noopener">Twitter</a>
      <a target="_blank"
        href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}&amp;t={{ page.title | uri_escape }}" rel="noopener">Facebook</a>
    </div><!-- .share-post -->
    <!--<div class="author-box">
      {% if site.data.author.image and site.data.author.image != "" %}
      <div class="author-avatar" style="background-image: url('{{ site.data.author.image }}')"><span class="screen-reader-text">{{ site.data.author.name }}'s Picture</span></div>
      {% endif %}
      <div class="author-details">
        <h2 class="author-title">About {{ site.data.author.name }}</h2>
        <div class="author-bio">{{ site.data.author.bio | markdownify }}</div>
        {% if site.data.author.location and site.data.author.location != "" %}
        <span class="author-location">{{ site.data.author.location}}</span>
        {% endif %}
        {% if site.data.author.url and site.data.author.url != "" %}
        <span class="author-website"><a href="{{ site.data.author.url }}" target="_blank" rel="noopener">{{ site.data.author.url }}</a></span>
        {% endif %}
      </div><!-- .author-details -->
    </div><!-- .author-box -->
  </article><!-- .post -->

  

</main><!-- .main-content -->
